<app-listgroup [data]="cars"></app-listgroup>
<!--<app-navbar></app-navbar>
{{title}}
<ul>
  <ng-container *ngFor="let product of products">
    <li *ngIf="!product.discontinued; else discountedElse">
      {{product.name}} | {{product.price}}
    </li>
    <ng-template #discountedElse>
      <li>
        {{product.name}} | discounted
      </li>
    </ng-template>
  </ng-container>

  @for (product of products; track product.name) {
    @if (!product.discontinued) {
      <li>{{product.name}} | {{product.price}}</li>
    }
    @else {
      <li>
        {{product.name}} | discounted
      </li>
    }
  }
</ul>
<app-button type="button" variant="primary">Button</app-button>
<app-footer></app-footer>-->